.taskList {
	width: 100%;
	height: 80vh;
	overflow: overlay;
	font-size: 18px;
}

.taskItem {
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
	padding: 5px;
	text-overflow: ellipsis;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	margin: 1px 5px 1px 5px;
	background: white;
}

.checkedInput {
	display: block;
	margin: 14px;
}

.checkedInput:hover {
	cursor: pointer;
}

.uncheckedInput {
	display: block;
	margin: 14px;
}

.uncheckedInput:hover {
	cursor: pointer;
}

.taskTitle {
	display: block;
	width: 170px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.editBtn {
	display: block;
	margin-right: 0px;
  margin-left: 0px;
}

.taskNameInput {
	display: block;
	width: 95%;
	height: 40px;
	outline: none;
	overflow: hidden;
	font-size: 20px;
	border: 1px solid black;
}

.taskNameInput:focus {
	border: 1px solid rgb(255, 64, 129);
}

.taskDescription {
	width: 95%;
	background: rgb(0, 188, 212);
	border: 1px solid black;
	margin-top: 1px;
	overflow: hidden;
}

.taskDescription form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.taskDescription form span {
  height: 100%;
  width: 95%;
  font-size: 12px;
  display: inline-block;
  text-align: left;
}

.taskDescriptionInput {
	display: block;
	width: 95%;
	height: 100px;
	outline: none;
	overflow: auto;
	resize: none;
	font-size: 20px;
	border: 1px solid black;
}

.taskDescriptionInput:focus {
	border: 1px solid rgb(255, 64, 129);
}

.taskDescriptionBtnContainer {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
