.taskInput {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.taskInput form {
  height: 100%;
  display: flex;
  align-items: center;
}

.taskInput input {
  height: 26px;
  font-size: 16px;
  font-style: italic;
}

.taskInput input:focus {
  height: 26px;
  font-size: 16px;
  font-style: normal;
  border: 2px solid rgb(0, 188, 212);
}

@media (max-width: 520px) {
  
  .taskInput {
    width: 100%;
    height: 70px;
  }

  .taskInput form {
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }
}